APP_PORT=80
PRODUCER_PORT=8000
CONSUMER_PORT=8001
PRODUCER_VITE_PORT=5173
CONSUMER_VITE_PORT=5174
WWWUSER=1000
WWWGROUP=1000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=laravel
DB_PASSWORD=secret
PRODUCER_DB_DATABASE=producer
CONSUMER_DB_DATABASE=consumer
FORWARD_DB_PORT=3306
FORWARD_PHPMYADMIN_PORT=8080

REDIS_HOST=redis
REDIS_PORT=6379
FORWARD_REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=app
RABBITMQ_PASSWORD=secret
RABBITMQ_VHOST=/
FORWARD_RABBITMQ_PORT=5672
FORWARD_RABBITMQ_DASHBOARD_PORT=15672
